*{
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    padding: 0;

}

.container{
    max-width: 1280px;
    margin: 0 auto;
}
// display fltx 
// alig :ctnter 

// экраны до 800
@media (max-width: 800px){


}

@media (max-width: 400px){
    *{
        width: 375px;
        height: 667px;
    }
    
}